<!DOCTYPE html>
<html>
  <head>
    <title>Node Mailer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Node Mailer</h1>
    <p>Welcome to Node Mailer</p>
  </body>
</html>
